{% extends "NavigationBundle:Default:base.html.twig" %}

{% block title%}About{% endblock %}
{% block body %}
<div class="sub_header_in">
	<div class="container">
		<h1>About {{website_name}} Directory</h1>
	</div>
	<!-- /container -->
</div>
<!-- /sub_header -->

<main>
	<div class="container margin_80_55">
		<div class="main_title_2">
			<span><em></em></span>
			<h2>Why Choose {{website_name}}</h2>
			<p>The website that helps plan the best trip to Tunisia.</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<a class="box_feat">
					<i class="pe-7s-medal"></i>
					<h3>+ 1000 Customers</h3>
					<p>Happy customers all over the world recommand {{website_name}} for it's flexibility and portability.</p>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<a class="box_feat" >
					<i class="pe-7s-help2"></i>
					<h3>24H Support</h3>
					<p>{{website_name}} is made to satisfy your needs 24/7.</p>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<a class="box_feat" >
					<i class="pe-7s-culture"></i>
					<h3>+ 650 Locations</h3>
					<p>{{website_name}} provides you with the best, must-see locations in Tunisia</p>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<a class="box_feat" >
					<i class="pe-7s-headphones"></i>
					<h3>Help Direct Line</h3>
					<p> A customer's number (+216 71 584 759) is also available for you needs.  </p>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<a class="box_feat" >
					<i class="pe-7s-credit"></i>
					<h3>Secure Payments</h3>
					<p>All your credentials are safe with us. </p>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<a class="box_feat" >
					<i class="pe-7s-chat"></i>
					<h3>Support via Chat</h3>
					<p>Our staff is always ready to listen to your problems and answers all your questions via chat. </p>
				</a>
			</div>
		</div>
		<!--/row-->
	</div>
	<!-- /container -->
	</div>
	<!--/container-->
</main>
<!--/main-->
</div>
<!-- page -->
</div>
<!-- /Sign In Popup -->

<div id="toTop"></div><!-- Back to top button -->

{% endblock %}
