{% extends "NavigationBundle:Default:base.html.twig" %}
{% block title%}Contact us{% endblock %}
{% block body %}

<div class="sub_header_in">
	<div class="container">
		<h1>Contacts {{website_name}}</h1>
	</div>
	<!-- /container -->
</div>
<!-- /sub_header -->

<main>
<br>
	{% for flashMessage in app.session.flashbag.get('success') %}
	<center><div class="alert alert-success" role="alert" style="width: 80% ; text-align: center">
		{{flashMessage}}
	</div></center>
	{% endfor %}
	<div class="container margin_60_35">
		<div class="row justify-content-center">

			<div class="col-xl-5 col-lg-6 pr-xl-5">
				<div class="main_title_3">
					<span></span>
					<h2>Send us a message</h2>
					<p>Our staff will reach you as soon as possible.</p>
				</div>
				<div id="message-contact"></div>
				{{form_start(formMail,{'attr':{'class': 'validate'}})}}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">

							{{form_row(formMail.name,{'attr':{'placeholder':'Name','class':'form-control', 'autocomplete':"off"}})
							}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">

							{{form_row(formMail.last_name,{'attr':{'placeholder':'Last name','class':'form-control', 'autocomplete':"off"}})
							}}
						</div>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							{{form_row(formMail.addressMail,{'attr':{'placeholder':'Your email','class':'form-control', 'autocomplete':"off"}})
							}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">

							{{form_row(formMail.telephone,{'attr':{'placeholder':'Telephone number','class':'form-control', 'autocomplete':"off"}})
							}}
						</div>
					</div>
				</div>
				<!-- /row -->
				<div class="form-group">
					{{form_row(formMail.subject,{'attr':{'placeholder':'subject','class':'form-control', 'autocomplete':"off"}})
					}}
				</div>
				<div class="form-group">
					{{form_row(formMail.object,{'attr':{'placeholder':'What do you want to say?','class':'form-control', 'autocomplete':"off"}})
					}}
				</div>
				<p class="add_top_30"><button type="submit" class="btn_1 rounded">Contact us</button>
					{{form_end(formMail)}}</p>

			</div>
			<div class="col-xl-5 col-lg-6 pl-xl-5">
				<div class="box_contacts">
					<i class="ti-support"></i>
					<h2>Need Help?</h2>
					<a href="#0">+216 71 584 759</a> - <a href="#0">zourounatunisia@gmail.com</a>
				</div>
				<div class="box_contacts">
					<i class="ti-help-alt"></i>
					<h2>Questions?</h2>
					<a href="#0">+216 71 584 759</a> - <a href="#0">zourounatunisia@gmail.com</a>
				</div>
				<div class="box_contacts">
					<i class="ti-home"></i>
					<h2>Address</h2>
					<a href="#0">45 Manouba 2010<br>Tunis - TUNISIA.</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
</main>
<!--/main-->
<div id="toTop"></div><!-- Back to top button -->
{% endblock %}